* 
{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
    width: 600px;
    height: 200px;
    border: 1px solid #000;
}

.dino {
    width: 70px;
    height: 70px;
    background-image: url('../img/dino.png');
    background-size: auto 70px;
    position: relative;
    top: 130px;
}

.cactus {
    width: 20px;
    height: 40px;
    background-image: url('../img/cactus.png');
    background-size: 20px 40px;
    position: relative;
    top: 90px;
    left: 580px;
    animation: cactus 2s infinite linear
}

.jump {
    animation: jump .3s linear
}

@keyframes jump {
    0% {
        top: 130px;
    }
    30% {
        top: 100px;
    }
    50%{
        top: 50px;
    }
    80%{
        top: 100px;
    }
    100%{
        top: 130px;
    }
}

@keyframes cactus {
    0%{
        left: 600px;
    }
    100%{
        left: -20px;
    }
}